<!-- start header -->
<header>
  <!-- start navigation -->
  <nav
    class="navbar navbar-expand-lg header-transparent bg-transparent center-logo disable-fixed"
  >
    <div class="container-fluid">
      <div class="col-auto col-lg-2 menu-logo">
        <div class="d-none d-lg-block">
          <a
            href="tel:1800222000"
            class="widget-text text-white-hover fs-16 lg-fs-15"
            ><i
              class="feather icon-feather-phone icon-small me-5px lg-me-2px"
            ></i
            >1 800 222 000</a
          >
        </div>
        <a class="navbar-brand" href="demo-spa-salon.html">
          <img
            src="images/demo-spa-salon-logo-white.png"
            data-at2x="images/demo-spa-salon-logo-white@2x.png"
            alt=""
            class="default-logo"
          />
          <img
            src="images/demo-spa-salon-logo-white.png"
            data-at2x="images/demo-spa-salon-logo-white@2x.png"
            alt=""
            class="alt-logo"
          />
          <img
            src="images/demo-spa-salon-logo-black.png"
            data-at2x="images/demo-spa-salon-logo-black@2x.png"
            alt=""
            class="mobile-logo"
          />
        </a>
      </div>
      <div class="col-auto col-lg-8 menu-order">
        <button
          class="navbar-toggler float-end"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarNav"
        >
          <ul class="navbar-nav navbar-left justify-content-end">
            <li class="nav-item">
              <a href="demo-spa-salon.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="demo-spa-salon-about.html" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="demo-spa-salon-treatments.html" class="nav-link"
                >Treatments</a
              >
            </li>
          </ul>
          <ul class="navbar-nav navbar-right justify-content-start">
            <li class="nav-item">
              <a href="demo-spa-salon-packages.html" class="nav-link"
                >Packages</a
              >
            </li>
            <li class="nav-item">
              <a href="demo-spa-salon-facility.html" class="nav-link"
                >Facility</a
              >
            </li>
            <li class="nav-item">
              <a href="demo-spa-salon-contact.html" class="nav-link">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-auto col-lg-2 text-end">
        <div class="header-icon">
          <div class="header-social-icon icon">
            <a href="http://www.facebook.com" target="_blank"
              ><i class="fa-brands fa-facebook-f"></i
            ></a>
            <a href="http://www.instagram.com" target="_blank"
              ><i class="fa-brands fa-instagram"></i
            ></a>
            <a href="http://www.twitter.com" target="_blank"
              ><i class="fa-brands fa-twitter"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<!-- end header -->
