<!-- start header -->
<header>
  <!-- start navigation -->
  <nav
    class="navbar navbar-expand-lg header-transparent bg-transparent center-logo disable-fixed"
  >
    <div class="container-fluid">
      <div class="col-auto col-lg-2 menu-logo">
        <div class="d-none d-lg-block">
          <a
            (click)="scrollTo('cvs')"
            class="widget-text text-white-hover fs-16 lg-fs-15"
          >
            <i
              class="feather icon-feather-file-minus icon-small me-5px lg-me-2px"
            ></i
            >CV
          </a>
        </div>
        <a class="navbar-brand" (click)="navigateTo('/')">
          <img
            src="/assets/images/home/logo-yo-bh.webp"
            alt="brand-logo"
            class="default-logo"
          />
        </a>
      </div>
      <div class="col-auto col-lg-8 menu-order">
        <button
          class="navbar-toggler float-end"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarNav"
        >
          <ul class="navbar-nav navbar-left justify-content-end">
            <li class="nav-item">
              <button (click)="navigateTo('/')" class="nav-link">Inicio</button>
            </li>
            <li class="nav-item">
              <button (click)="scrollTo('small-about')" class="nav-link">
                Sobre mi
              </button>
            </li>
            <li class="nav-item">
              <button (click)="scrollTo('skills')" class="nav-link">
                Habilidades
              </button>
            </li>
          </ul>
          <ul class="navbar-nav navbar-right justify-content-start">
            <li class="nav-item">
              <button (click)="navigateTo('projects')" class="nav-link">
                Proyectos
              </button>
            </li>
            <li class="nav-item">
              <button (click)="scrollTo('career-path')" class="nav-link">
                Trayectoria
              </button>
            </li>
            <li class="nav-item">
              <button (click)="scrollTo('contact-me')" class="nav-link">
                Contacto
              </button>
            </li>
            <li class="nav-item d-lg-none d-flex">
              <button (click)="scrollTo('cvs')" class="nav-link">
                Curriculum Vitae
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-auto col-lg-2 text-end">
        <div class="header-icon">
          <div class="header-social-icon icon">
            @for (item of social; track $index) {
              <a href="{{ item.url }}" target="_blank"
                ><i class="{{ item.icon }}"></i
              ></a>
            }
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<!-- end header -->
