<section class="position-relative one-half-screen sm-small-screen" data-parallax-background-ratio="0.5" style="background-image: url(/assets/images/shared/backgrounds/desktop-v3.webp)">
  <div class="opacity-light bg-gradient-nero-grey-brown"></div>
  <div class="fs-225 lg-fs-160 sm-fs-200 xs-fs-140 ls-minus-10px alt-font text-very-light-gray fw-700 position-absolute left-100px bottom-minus-70px lg-bottom-minus-50px xs-bottom-minus-30px lg-left-0px">
    Curriculum Vitae
  </div>
</section>
<section class="background-repeat position-relative sm-pt-0 mobile-cover" style="background-image: url('/assets/images/shared/backgrounds/bg-1.webp')">
  <div class="position-absolute left-minus-100px top-150px d-none d-lg-inline-block" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)">
    <img src="{{Icons.CloudIcon}}" alt="" style='max-width: 270px; max-height: 270px' />
  </div>
  <div class="position-absolute right-minus-50px text-end bottom-150px d-none d-lg-inline-block" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)">
    <img src="{{Icons.WebDevIcon}}" class="w-70" alt="" style='max-width: 280px; max-height: 280px' />
  </div>
  <div class="container-fluid overlap-section p-0">
    <div class="row g-0 justify-content-end overlap-section-one-fourth mb-6 overflow-hidden" data-anime='{ "el": "childs", "translateX": [50, 0],"opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
      <div class="col-xl-3 col-lg-4 col-md-5 bg-base-color p-5 lg-p-5 sm-p-12 overflow-hidden">
        <div class="row">
          <div class="col-12 tab-style-04">
            <ul class="nav nav-tabs border-0 fw-400 mb-30px alt-font fs-26 md-fs-24 text-center text-md-start">
              <li class="nav-item d-inline-block">
                <a data-bs-toggle="tab" href="#tab_five1" class="nav-link active">London<span class="tab-border bg-white"></span></a>
              </li>
              <li class="nav-item d-inline-block">
                <a class="nav-link" data-bs-toggle="tab" href="#tab_five2">France<span class="tab-border bg-white"></span></a>
              </li>
            </ul>
            <div class="tab-content text-center text-md-start">
              <!-- start tab content -->
              <div class="tab-pane fade in active show" id="tab_five1">
                <div>
                  <span class="fs-22 text-dark-gray fw-500 mb-5px d-block">Crafto - London</span>
                  <p class="text-dark-gray w-85 sm-w-100 mb-15px lh-30">
                    401 broadway, 24th floor, Orchard view, London, UK
                  </p>
                  <div class="w-100 text-dark-gray">
                    <span>E:</span>
                    <a href="mailto:info@yourdomain.com" class="text-dark-gray text-dark-gray-hover d-inline-block">info&#64;yourdomain.com</a>
                  </div>
                  <div class="w-100 text-dark-gray mb-15px last-paragraph-no-margin">
                    <span>T:</span>
                    <a href="tel:1234567890">123 456 7890</a>
                  </div>
                  <a href="https://maps.google.com/maps?ll=-37.805688,144.962312&amp;z=17&amp;t=m&amp;hl=en-US&amp;gl=IN&amp;mapclient=embed&amp;cid=13153204942596594449" target="_blank" class="btn btn-link btn-large text-dark-gray thin fw-500">View on google map</a>
                </div>
              </div>
              <!-- end tab content -->
              <!-- start tab content -->
              <div class="tab-pane fade in" id="tab_five2">
                <div>
                  <span class="fs-22 text-dark-gray fw-500 mb-5px d-block">Crafto - France</span>
                  <p class="text-dark-gray w-85 sm-w-100 mb-15px lh-30">
                    27 Sondanella, Eden walk, Eden centre, Paris, France
                  </p>
                  <div class="w-100 text-dark-gray">
                    <span>E:</span>
                    <a href="mailto:info@yourdomain.com" class="text-dark-gray text-dark-gray-hover d-inline-block">info&#64;yourdomain.com</a>
                  </div>
                  <div class="w-100 text-dark-gray mb-15px last-paragraph-no-margin">
                    <span>T:</span>
                    <a href="tel:1234567890">123 456 7890</a>
                  </div>
                  <a href="https://www.google.com/maps?ll=-37.805688,144.962312&z=17&t=m&hl=en-US&gl=IN&mapclient=embed&cid=13153204942596594449" target="_blank" class="btn btn-link btn-large text-dark-gray thin fw-500">View on google map</a>
                </div>
              </div>
              <!-- end tab content -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-5">
      </div>
    </div>
  </div>
</section>