<section class="background-repeat position-relative sm-pt-0"
  style="background-image: url('images/demo-spa-salon-home-bg-01.jpg')">
  <div class="container" id="appointment">
    <div class="row justify-content-center mb-2">
      <div class="col-12 text-center"
        data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
        <span class="fs-15 mb-5px text-base-color fw-500 d-block text-uppercase ls-2px">Creemos juntos</span>
        <h3 class="alt-font ls-minus-1px text-dark-gray">
          En que puedo ayudarte?
        </h3>
      </div>
    </div>
    <div class="row row-cols-md-1 justify-content-center mb-10 md-mb-15 sm-mb-0">
      <div class="col-xl-9 col-lg-10 col-md-12">
        <form [formGroup]="contactForm" class="contact-form-style-03">
          <div class="row">
            <div class="col-md-6">
              <label for="exampleInputEmail1"
                class="form-label fs-13 ls-1px text-uppercase text-dark-gray fw-500 mb-0">Tu nombre*</label>
              <div class="position-relative form-group mb-25px">
                <span class="form-icon"><i class="bi bi-emoji-smile text-dark-gray"></i></span>
                <input class="fs-17 ps-0 border-radius-0px border-color-dark-gray bg-transparent form-control required"
                  id="exampleInputEmail1" type="text" formControlName="name" placeholder="What's your good name?" />
              </div>
            </div>
            <div class="col-md-6">
              <label for="exampleInputEmail1"
                class="form-label fs-13 ls-1px text-uppercase text-dark-gray fw-500 mb-0">Tu correo*</label>
              <div class="position-relative form-group mb-25px">
                <span class="form-icon"><i class="bi bi-envelope text-dark-gray"></i></span>
                <input class="fs-17 ps-0 border-radius-0px border-color-dark-gray bg-transparent form-control required"
                  id="exampleInputEmail2" type="email" formControlName="email" placeholder="Enter your email address" />
              </div>
            </div>
            <div class="col-md-6">
              <label for="exampleInputEmail1"
                class="form-label fs-13 ls-1px text-uppercase text-dark-gray fw-500 mb-0">Tu teléfono*</label>
              <div class="position-relative form-group mb-25px">
                <span class="form-icon"><i class="bi bi-telephone text-dark-gray"></i></span>
                <input class="fs-17 ps-0 border-radius-0px border-color-dark-gray bg-transparent form-control required"
                  id="exampleInputEmail3" type="tel" formControlName="phone" placeholder="Enter your phone number" />
              </div>
            </div>
            <div class="col-md-6">
              <label for="exampleInputEmail1"
                class="form-label fs-13 ls-1px text-uppercase text-dark-gray fw-500 mb-0">Tu asunto*</label>
              <div class="position-relative form-group mb-25px">
                <span class="form-icon"><i class="bi bi-journals text-dark-gray"></i></span>
                <input class="fs-17 ps-0 border-radius-0px border-color-dark-gray bg-transparent form-control"
                  id="exampleInputEmail4" type="text" formControlName="subject" placeholder="How can we help you?" />
              </div>
            </div>
            <div class="col-12 mb-35px">
              <label for="exampleInputEmail1"
                class="form-label fs-13 ls-1px text-uppercase text-dark-gray fw-500 mb-0">Tu mensaje*</label>
              <div class="position-relative form-group form-textarea mb-0">
                <textarea class="fs-17 ps-0 border-radius-0px border-color-dark-gray bg-transparent form-control"
                  formControlName="message" placeholder="Describe about your message" rows="4"></textarea>
                <span class="form-icon"><i class="bi bi-chat-square-dots text-dark-gray"></i></span>
              </div>
            </div>
            <div class="col-md-8 sm-mb-30px text-center text-md-start">
              <p class="mb-0 fs-15 lh-26 w-80 md-w-85 sm-w-100">
                We are committed to protecting your privacy. We will never
                collect information about you without your explicit consent.
              </p>
            </div>
            <div class="col-md-4 text-center text-md-end">
              <ngx-invisible-recaptcha #captchaElem [siteKey]="siteKey" (reset)="handleReset()" (ready)="handleReady()"
                (load)="handleLoad()" (success)="handleSuccess($event)" [ngModel]="recaptcha"
                [ngModelOptions]="{ standalone: true }">
              </ngx-invisible-recaptcha>
              <input id="exampleInputEmail5" type="hidden" name="redirect" value="" />
              <button class="btn btn-small btn-double-border btn-border-base-color left-icon submit"
                [ariaDisabled]="contactForm.invalid" type="submit" (click)="onSubmit()">
                <span>
                  <span><i class="fa-regular fa-paper-plane"></i></span>
                  <span class="btn-double-text" data-text="Enviar email">Enviar
                    email</span>
                </span>
              </button>
            </div>
            <div class="col-12 text-center">
              <div class="form-results mt-20px d-none"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>