<section
  class="background-repeat"
  style="background-image: url('images/demo-spa-salon-home-bg-01.jpg')"
>
  <div class="container">
    <div class="row">
      <div
        class="col-lg-5"
        data-anime='{ "el": "childs", "translateX": [-30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
      >
        <span
          class="fs-15 mb-10px text-base-color fw-500 d-block text-uppercase ls-2px"
          >About studio</span
        >
        <h3
          class="alt-font ls-minus-1px text-dark-gray mb-12 md-mb-50px sm-mb-30px"
        >
          Relax at the luxury spa oil massage and skin therapy studio.
        </h3>
        <img
          src="https://placehold.co/480x480"
          class="border-radius-6px mb-20px w-100"
          alt=""
        />
      </div>
      <div
        class="col-lg-6 offset-lg-1"
        data-anime='{ "el": "childs", "translateX": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
      >
        <img
          class="mb-40px border-radius-6px w-100"
          src="https://placehold.co/580x425"
          alt=""
        />
        <p class="w-90 mb-35px lg-w-100">
          Lorem ipsum is simply dummy text of the printing and typesetting
          industry.
          <span class="text-dark-gray fw-500"
            >labore et dolore magna ut enim veniam.</span
          >
          lorem ipsum has been the industry's standard dummy text ever since the
          on lorem simply dummy text of the printing and typesetting.
        </p>
        <div
          class="d-block d-md-flex align-items-center border-top border-color-light-gray pt-25px sm-pt-35px"
        >
          <div class="col-auto text-center sm-mb-15px">
            <h2 class="text-dark-gray fw-600 ls-minus-2px mb-0 alt-font">
              4.81
            </h2>
          </div>
          <div class="col text-center text-md-start ps-20px sm-ps-0">
            <div class="fs-20">
              <div
                class="text-center bg-golden-yellow text-white fs-16 lh-36 border-radius-30px d-inline-block ps-20px pe-20px align-middle me-10px sm-me-0"
              >
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i>
              </div>
              <span
                class="text-dark-gray fw-500 d-block d-md-inline-block sm-mt-10px"
                >25k Reviews by google</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
