<section class="background-repeat" style="background-image: url('images/demo-spa-salon-home-bg-01.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-5" data-anime='{ "el": "childs", "translateX": [-30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <span class="fs-16 mb-10px text-base-color fw-bold d-block text-uppercase ls-2px ">Sobre Mi</span>
        <h3 class="alt-font ls-minus-1px text-dark-gray mb-12 md-mb-50px sm-mb-30px">
          Entre Interfaces y Lógica:
          Transformando Ideas en Experiencias
          con Alma FullStack.
        </h3>
        <img src="/assets/images/home/profile_v2.jpg" class="border-radius-6px mb-20px w-100" alt="" />
      </div>
      <div class="col-lg-6 offset-lg-1" data-anime='{ "el": "childs", "translateX": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <img class="mb-40px border-radius-6px w-100" src="/assets/images/home/PortfolioFoto1.jpg" alt="" />
        <p class="w-90 mb-35px lg-w-100">
          Soy un desarrollador FullStack con un corazón dividido entre la creatividad del frontend y la lógica robusta
          del backend. Mi expertise abarca la construcción de aplicaciones web dinámicas y escalables, utilizando
          <span class="text-dark-gray fw-500">Angular</span> para dar vida a interfaces intuitivas, mientras que en el
          backend domino el arte de diseñar APIs
          eficientes con <span class="text-dark-gray fw-500">NestJS y Express</span>, asegurando arquitecturas limpias y
          mantenibles.
        </p>
        <p class="w-90 mb-35px lg-w-100">
          Me apasiona transformar desafíos técnicos en soluciones elegantes, siempre con un enfoque colaborativo y un
          compromiso por la calidad. Disfruto aprender constantemente, explorar nuevas herramientas y contribuir a
          proyectos que dejen un impacto positivo. Para mí, el código no solo es funcionalidad, sino también la
          oportunidad de crear algo con propósito.
        </p>
        <div class="d-block d-md-flex align-items-center border-top border-color-light-gray pt-25px sm-pt-35px">
        </div>
      </div>
    </div>
  </div>
</section>