<section class="background-repeat" style="background-image: url('images/demo-spa-salon-home-bg-01.jpg')">
  <div class="container pt-100px pb-100px">
    @if (project) {
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <h2 class="alt-font text-dark-gray mb-20px">{{ projectTitle }}</h2>
          <p class="mb-25px fs-18">{{ projectDescription }}</p>

          <h6 class="text-dark-gray mb-10px">{{ t('project.details.technologies') }}</h6>
          <p class="mb-30px">{{ projectTechnologies }}</p>

          <div class="d-flex flex-wrap gap-3">
            @if (hasLiveDemo) {
              <a class="btn btn-small btn-dark-gray" [href]="project.projectLink" target="_blank" rel="noopener noreferrer">
                {{ t('project.details.liveDemo') }}
              </a>
            }

            <a class="btn btn-small btn-transparent-dark-gray" [href]="project.codeLink" target="_blank" rel="noopener noreferrer">
              {{ t('project.details.sourceCode') }}
            </a>

            <button class="btn btn-small btn-base-color" type="button" (click)="backToHome()">
              {{ t('project.details.backHome') }}
            </button>
          </div>
        </div>
      </div>
    } @else {
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h4 class="text-dark-gray">{{ t('project.details.notFound') }}</h4>
          <button class="btn btn-small btn-base-color mt-15px" type="button" (click)="backToHome()">
            {{ t('project.details.backHome') }}
          </button>
        </div>
      </div>
    }
  </div>
</section>
