<section
  class="background-repeat"
  style="
    background-image: url(&quot;images/demo-spa-salon-home-bg-01.jpg&quot;);
  "
>
  <div class="container">
    <div class="row align-items-center mb-8">
      <div
        class="col-lg-4 md-mb-50px sm-mb-30px"
        data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'
      >
        <h3 class="alt-font ls-minus-1px text-dark-gray">
          Everything is included plan.
        </h3>
        <p class="mb-35px w-90 lg-w-100">
          The daily grind of work and personal life needs takes a toll on your
          body and mind. Personalised it with a message.
        </p>
        <a
          href="#explore"
          class="btn btn-small btn-double-border btn-border-base-color section-link"
        >
          <span>
            <span class="btn-double-text" data-text="Explore more"
              >Explore more</span
            >
            <span><i class="fa-solid fa-arrow-right"></i></span>
          </span>
        </a>
      </div>
      <div class="col-lg-7 offset-lg-1">
        <div
          class="row row-cols-1 row-cols-lg-2 row-cols-md-2 justify-content-center md-m-0"
          data-anime='{ "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'
        >
          <!-- start features box item -->
          <div
            class="col icon-with-text-style-01 p-6 border-bottom border-end sm-border-end-0 border-color-light-gray xl-p-5 sm-ps-0 sm-pe-0"
          >
            <div
              class="feature-box feature-box-left-icon last-paragraph-no-margin"
              data-anime='{ "translateX": [-30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'
            >
              <div
                class="feature-box-icon feature-box-icon-rounded w-30px h-30px rounded-circle me-15px bg-base-color"
              >
                <i class="fa-solid fa-check icon-very-small text-white"></i>
              </div>
              <div class="feature-box-content">
                <span
                  class="d-inline-block alt-font text-dark-gray mb-5px alt-font fs-22"
                  >Secure payments</span
                >
                <p>Lorem ipsum text printing typesetting industry.</p>
              </div>
            </div>
          </div>
          <!-- end features box item -->
          <!-- start features box item -->
          <div
            class="col icon-with-text-style-01 p-6 border-bottom border-color-light-gray xl-p-5 sm-ps-0 sm-pe-0"
          >
            <div
              class="feature-box feature-box-left-icon last-paragraph-no-margin"
              data-anime='{ "translateX": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'
            >
              <div
                class="feature-box-icon feature-box-icon-rounded w-30px h-30px rounded-circle me-15px bg-base-color"
              >
                <i class="fa-solid fa-check icon-very-small text-white"></i>
              </div>
              <div class="feature-box-content">
                <span
                  class="d-inline-block alt-font text-dark-gray mb-5px alt-font fs-22"
                  >Memberships gift</span
                >
                <p>Lorem ipsum text printing typesetting industry.</p>
              </div>
            </div>
          </div>
          <!-- end features box item -->
          <!-- start features box item -->
          <div
            class="col icon-with-text-style-01 p-6 border-end sm-border-end-0 sm-border-bottom border-color-light-gray xl-p-5 sm-ps-0 sm-pe-0"
          >
            <div
              class="feature-box feature-box-left-icon last-paragraph-no-margin"
              data-anime='{ "translateX": [-30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'
            >
              <div
                class="feature-box-icon feature-box-icon-rounded w-30px h-30px rounded-circle me-15px bg-base-color"
              >
                <i class="fa-solid fa-check icon-very-small text-white"></i>
              </div>
              <div class="feature-box-content">
                <span
                  class="d-inline-block alt-font text-dark-gray mb-5px alt-font fs-22"
                  >Health facility</span
                >
                <p>Lorem ipsum text printing typesetting industry.</p>
              </div>
            </div>
          </div>
          <!-- end features box item -->
          <!-- start features box item -->
          <div class="col icon-with-text-style-01 p-6 xl-p-5 sm-ps-0 sm-pe-0">
            <div
              class="feature-box feature-box-left-icon last-paragraph-no-margin"
              data-anime='{ "translateX": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'
            >
              <div
                class="feature-box-icon feature-box-icon-rounded w-30px h-30px rounded-circle me-15px bg-base-color"
              >
                <i class="fa-solid fa-check icon-very-small text-white"></i>
              </div>
              <div class="feature-box-content">
                <span
                  class="d-inline-block alt-font text-dark-gray mb-5px alt-font fs-22"
                  >No hidden costs</span
                >
                <p>Lorem ipsum text printing typesetting industry.</p>
              </div>
            </div>
          </div>
          <!-- end features box item -->
        </div>
      </div>
    </div>
    <div
      class="row row-cols-1 row-cols-lg-2"
      data-anime='{ "el": "childs", "translateY": [0, 0], "perspective": [1200,1200], "scale": [1.05, 1], "rotateX": [30, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'
    >
      <!-- start interactive banner item -->
      <div
        class="col interactive-banner-style-08 md-mb-30px"
        data-bottom-top="transform: translateY(30px)"
        data-top-bottom="transform: translateY(-30px)"
      >
        <figure
          class="m-0 hover-box overflow-hidden position-relative border-radius-6px"
        >
          <img class="w-100" src="https://placehold.co/580x320" alt="" />
          <figcaption
            class="d-flex flex-column align-items-start justify-content-center position-absolute left-0px top-0px w-100 h-100 z-index-1 p-50px lg-p-8"
          >
            <span
              class="ps-15px pe-15px pt-5px pb-5px text-uppercase text-white fs-13 lh-24 fw-500 border-radius-4px bg-base-color d-inline-block"
              >Flat 50% off</span
            >
            <div class="d-flex w-100 align-items-center mt-auto">
              <div class="col last-paragraph-no-margin">
                <h4 class="alt-font text-white fw-400 w-50 lg-w-80 mb-0">
                  Swedish massage
                </h4>
              </div>
              <span
                class="border border-2 border-color-transparent-white-very-light bg-transparent w-60px h-60px sm-w-50px sm-h-50px rounded-circle ms-auto position-relative"
              >
                <i
                  class="bi bi-arrow-right-short absolute-middle-center icon-very-medium lh-0px text-white"
                ></i>
              </span>
            </div>
            <div
              class="position-absolute left-0px top-0px w-100 h-100 bg-gradient-gray-light-dark-transparent z-index-minus-1 opacity-9"
            ></div>
            <a
              href="demo-spa-salon-facility.html"
              class="position-absolute z-index-1 top-0px left-0px h-100 w-100"
            ></a>
          </figcaption>
        </figure>
      </div>
      <!-- end interactive banner item -->
      <!-- start interactive banner item -->
      <div
        class="col interactive-banner-style-08"
        data-bottom-top="transform: translateY(-30px)"
        data-top-bottom="transform: translateY(30px)"
      >
        <figure
          class="m-0 hover-box overflow-hidden position-relative border-radius-6px"
        >
          <img class="w-100" src="https://placehold.co/580x320" alt="" />
          <figcaption
            class="d-flex flex-column align-items-start justify-content-center position-absolute left-0px top-0px w-100 h-100 z-index-1 p-50px lg-p-8"
          >
            <span
              class="ps-15px pe-15px pt-5px pb-5px text-uppercase text-white fs-13 lh-24 fw-500 border-radius-4px bg-base-color d-inline-block"
              >Flat 30% off</span
            >
            <div class="d-flex w-100 align-items-center mt-auto">
              <div class="col last-paragraph-no-margin">
                <h4 class="alt-font text-white fw-400 w-50 lg-w-80 mb-0">
                  Ayurvedic treatments
                </h4>
              </div>
              <span
                class="border border-2 border-color-transparent-white-very-light bg-transparent w-60px h-60px sm-w-50px sm-h-50px rounded-circle ms-auto position-relative"
              >
                <i
                  class="bi bi-arrow-right-short absolute-middle-center icon-very-medium lh-0px text-white"
                ></i>
              </span>
            </div>
            <div
              class="position-absolute left-0px top-0px w-100 h-100 bg-gradient-gray-light-dark-transparent z-index-minus-1 opacity-9"
            ></div>
            <a
              href="demo-spa-salon-facility.html"
              class="position-absolute z-index-1 top-0px left-0px h-100 w-100"
            ></a>
          </figcaption>
        </figure>
      </div>
      <!-- end interactive banner item -->
    </div>
  </div>
</section>
