<!-- start footer -->
<footer
  class="half-footer pb-45px border-top border-color-light-gray background-repeat"
  style="background-image: url('images/demo-spa-salon-home-bg-01.jpg')"
>
  <div class="container">
    <div
      class="overlap-section position-absolute left-0px right-0px text-center d-none d-md-inline-block"
      data-anime='{ "el": "childs", "translateY": [0, 0], "scale": [0.7, 1], "rotateZ": [50, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'
    >
      <img src="https://placehold.co/280x280" alt="" class="lg-w-20" />
    </div>
    <div class="row">
      <div
        class="col-lg-3 col-md-4 col-sm-6 last-paragraph-no-margin me-auto z-index-1 text-center text-sm-start xs-mb-20px"
      >
        <span class="fs-20 fw-500 text-dark-gray d-block mb-5px"
          >Studio location</span
        >
        <p class="w-100">401 Broadway, 24th Floor<br />New York, NY 10013.</p>
      </div>
      <div
        class="col-lg-3 col-md-4 col-sm-6 last-paragraph-no-margin text-center text-sm-end z-index-1"
      >
        <span class="fs-20 fw-500 text-dark-gray d-block mb-5px"
          >How can we help?</span
        >
        <a href="mailto:info&#64;yourdomain.com">info&#64;yourdomain.com</a
        ><br />
        <a href="mailto:hr&#64;yourdomain.com">hr&#64;yourdomain.com</a>
      </div>
    </div>
    <div
      class="row align-items-center justify-content-center mt-20px mb-10px md-mb-20px"
    >
      <div class="col d-none d-md-flex">
        <div
          class="divider-style-03 divider-style-03-01 border-color-light-gray"
        ></div>
      </div>
      <div
        class="col-xl-4 col-lg-5 col-md-7 text-center elements-social social-icon-style-04"
      >
        <ul class="large-icon dark mb-0">
          <li>
            <a class="facebook" href="https://www.facebook.com/" target="_blank"
              ><i class="fa-brands fa-facebook-f"></i><span></span
            ></a>
          </li>
          <li>
            <a class="dribbble" href="http://www.dribbble.com" target="_blank"
              ><i class="fa-brands fa-dribbble"></i><span></span
            ></a>
          </li>
          <li>
            <a class="twitter" href="http://www.twitter.com" target="_blank"
              ><i class="fa-brands fa-twitter"></i><span></span
            ></a>
          </li>
          <li>
            <a class="instagram" href="http://www.instagram.com" target="_blank"
              ><i class="fa-brands fa-instagram"></i><span></span
            ></a>
          </li>
          <li>
            <a class="linkedin" href="http://www.linkedin.com" target="_blank"
              ><i class="fa-brands fa-linkedin-in"></i><span></span
            ></a>
          </li>
        </ul>
      </div>
      <div class="col d-none d-md-flex">
        <div
          class="divider-style-03 divider-style-03-01 border-color-light-gray"
        ></div>
      </div>
    </div>
    <div class="row align-items-center">
      <div
        class="col-md-6 last-paragraph-no-margin text-center text-md-start sm-mb-10px"
      >
        <p>
          &COPY; 2024
          <a
            href="index.html"
            target="_blank"
            class="text-decoration-line-bottom text-dark-gray fw-500"
            >Crafto.</a
          >
          All rights reserved.
        </p>
      </div>
      <div class="col-md-6 text-center text-md-end last-paragraph-no-margin">
        <p>
          Proudly Powered by
          <a
            href="https://www.themezaa.com/"
            target="_blank"
            class="text-decoration-line-bottom text-dark-gray fw-500"
            >ThemeZaa</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
