<!-- start banner slider -->
<app-home-banner-slider />
<!-- end banner slider -->

<!-- start features section -->
<div id="skills"></div>
<app-features />
<!-- end features section -->

<!-- start small about section -->
<div id="small-about"></div>
<app-small-about-resume />
<!-- end small about section -->

<!-- start career path section -->
<div id="career-path"></div>
<app-career-path />
<!-- end career path section -->

<!-- start slider projects section -->
<div id="slider-projects"></div>
<app-slider-projects />
<!-- end  slider projects section -->

<!-- start hello section section -->
<div id="hello"></div>
<app-contact-me-hello />
<!-- end  hello section  section -->

<!-- start contact me section -->
<div id="contact-me"></div>
<app-contact-me />
<!-- end section -->

<!-- start cvs section -->
<div id="cvs"></div>
<app-cv />
<!-- end  cvs section -->

<!-- start section -->
<!-- <section
  class="background-repeat p-0"
  style="
    background-image: url(&quot;images/demo-spa-salon-home-bg-01.jpg&quot;);
  "
>
  <div class="container-fluid p-0">
    <div class="row align-items-center g-0 justify-content-center">
      <div class="col">
        <div
          class="divider-style-03 divider-style-03-01 border-color-light-gray"
        ></div>
      </div>
      <div class="col-5 col-lg-2 col-sm-3 text-center position-relative">
        <img
          src="/assets/images/demo-spa-salon-home-13.jpg"
          class="animation-rotation"
          alt=""
        />
        <div class="absolute-middle-center lg-w-75">
          <img src="https://placehold.co/150x150" alt="" />
        </div>
      </div>
      <div class="col">
        <div
          class="divider-style-03 divider-style-03-01 border-color-light-gray"
        ></div>
      </div>
    </div>
  </div>
</section> -->
<!-- end section -->

<!-- start work reference section -->
<div id="work-references"></div>
<app-work-references />
<!-- end work reference section -->
