<section
  class="pt-60px pb-60px background-repeat border-bottom border-color-light-gray"
  style="
    background-image: url(&quot;images/demo-spa-salon-home-bg-01.jpg&quot;);
  "
>
  <div class="container-fluid ps-9 pe-9 lg-ps-1 lg-pe-1 md-ps-15px md-pe-15px">
    <div
      class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 justify-content-center"
      data-anime='{ "el": "childs", "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'
    >
      @for (item of techStack; track $index) {
        <!-- start features box item -->
        <div
          class="col icon-with-text-style-03 border-end border-color-light-gray xs-border-end-0 custom-margin-button"
        >
          <div class="feature-box ps-8 pe-8 xl-ps-2 xl-pe-2">
            <div class="feature-box-icon">
              <img src="{{ item.iconUrl }}" class="mb-20px img-box" />
            </div>
            <div class="feature-box-content last-paragraph-no-margin">
              <span class="d-inline-block text-dark-gray alt-font fs-22">{{
                item.name
              }}</span>
            </div>
          </div>
        </div>
        <!-- end features box item -->
      }
    </div>
  </div>
</section>

<!-- start features box item -->
<!--  <div class="col icon-with-text-style-03">
        <div class="feature-box ps-8 pe-8 xl-ps-2 xl-pe-2">
          <div class="feature-box-icon">
            <i
              class="line-icon-Environmental-3 icon-extra-large text-base-color mb-20px"
            ></i>
          </div>
          <div class="feature-box-content last-paragraph-no-margin">
            <span class="d-inline-block text-dark-gray alt-font fs-22"
              >Ayurvedic therapy</span
            >
            <p class="lh-26">Herbal remedies</p>
          </div>
        </div>
      </div> -->
<!-- end features box item -->
