<section class="background-repeat border-top border-color-light-gray position-relative overlap-height z-index-1"
  style="background-image: url('images/demo-spa-salon-home-bg-01.jpg')">
  <div class="position-absolute right-minus-50px overlap-section z-index-minus-1 d-none d-lg-inline-block"
    data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)">
    <img src="https://placehold.co/175x175" alt="" />
  </div>
  <div class="position-absolute left-minus-100px top-50 z-index-minus-1 d-none d-lg-inline-block"
    data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)">
    <img src="https://placehold.co/270x270" alt="" />
  </div>
  <div class="container overlap-gap-section">
    <div class="row justify-content-center mb-2">
      <div class="col-lg-6 col-md-8 text-center"
        data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1],  "delay":0, "duration": 600, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <span class="fs-15 mb-5px text-base-color fw-bold d-block text-uppercase ls-2px">Proyectos</span>
        <h3 class="alt-font ls-minus-1px text-dark-gray w-65 xl-w-80 sm-w-100 mx-auto">
          Un vistazo a algunos de mis proyectos más recientes.
        </h3>
      </div>
    </div>
    <div class="row mb-5 xs-mb-15px">
      <div class="col-12 position-relative">
        <div class="outside-box-right-40 sm-outside-box-right-0">
          <div class="swiper magic-cursor"
            data-slider-options='{ "slidesPerView": 1, "spaceBetween": 30, "loop": true, "autoplay": { "delay": 3000, "disableOnInteraction": false },  "pagination": { "el": ".slider-three-slide-pagination", "clickable": true, "dynamicBullets": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 2 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'>
            <div class="swiper-wrapper pt-20px pb-20px">
              <!-- start slider item -->
              <div class="swiper-slide">
                <div class="row g-0 services-box-style-02 border-radius-6px overflow-hidden hover-box dark-hover">
                  <div class="col-sm-6 position-relative bg-very-light-gray p-10 xxl-p-6 xs-p-10">
                    <div class="services-box-icon mb-65px position-relative z-index-9 lg-mb-30px">
                      <img class="w-75px lg-w-65px" src="https://placehold.co/150x150" alt="" />
                    </div>
                    <div class="services-box-content last-paragraph-no-margin position-relative z-index-9">
                      <span class="d-inline-block alt-font text-dark-gray fs-24 mb-5px">Beauty</span>
                      <p class="text-light-opacity lh-30">
                        Bring brighter and younger looking skin.
                      </p>
                    </div>
                    <div class="box-overlay bg-dark-gray"></div>
                  </div>
                  <div class="col-sm-6 services-box-img overflow-hidden">
                    <div class="h-100 cover-background position-relative xs-h-300px" style="
                        background-image: url(https://placehold.co/580x705);
                      ">
                      <span
                        class="position-absolute left-minus-30px bottom-50px fs-100 lg-fs-80 xs-fs-90 fw-600 text-very-light-gray xl-bottom-25px md-left-minus-20px">01</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end slider item -->
              <!-- start slider item -->
              <div class="swiper-slide">
                <div class="row g-0 services-box-style-02 border-radius-6px overflow-hidden hover-box dark-hover">
                  <div class="col-sm-6 position-relative bg-very-light-gray p-10 xxl-p-6 xs-p-10">
                    <div class="services-box-icon mb-65px position-relative z-index-9 lg-mb-30px">
                      <img class="w-75px lg-w-65px" src="https://placehold.co/150x150" alt="" />
                    </div>
                    <div class="services-box-content last-paragraph-no-margin position-relative z-index-9">
                      <span class="d-inline-block alt-font text-dark-gray fs-24 mb-5px">Therapy</span>
                      <p class="text-light-opacity lh-30">
                        Bring brighter and younger looking skin.
                      </p>
                    </div>
                    <div class="box-overlay bg-dark-gray"></div>
                  </div>
                  <div class="col-sm-6 services-box-img">
                    <div class="h-100 cover-background position-relative xs-h-300px" style="
                        background-image: url(https://placehold.co/580x705);
                      ">
                      <span
                        class="position-absolute left-minus-30px bottom-50px fs-100 lg-fs-80 xs-fs-90 fw-600 text-very-light-gray xl-bottom-25px md-left-minus-20px">02</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end slider item -->
              <!-- start slider item -->
              <div class="swiper-slide">
                <div class="row g-0 services-box-style-02 border-radius-6px overflow-hidden hover-box dark-hover">
                  <div class="col-sm-6 position-relative bg-very-light-gray p-10 xxl-p-6 xs-p-10">
                    <div class="services-box-icon mb-65px position-relative z-index-9 lg-mb-30px">
                      <img class="w-75px lg-w-65px" src="https://placehold.co/150x150" alt="" />
                    </div>
                    <div class="services-box-content last-paragraph-no-margin position-relative z-index-9">
                      <span class="d-inline-block alt-font text-dark-gray fs-24 mb-5px">Massage</span>
                      <p class="text-light-opacity lh-30">
                        Bring brighter and younger looking skin.
                      </p>
                    </div>
                    <div class="box-overlay bg-dark-gray"></div>
                  </div>
                  <div class="col-sm-6 services-box-img">
                    <div class="h-100 cover-background position-relative xs-h-300px" style="
                        background-image: url(https://placehold.co/580x705);
                      ">
                      <span
                        class="position-absolute left-minus-30px bottom-50px fs-100 lg-fs-80 xs-fs-90 fw-600 text-very-light-gray xl-bottom-25px md-left-minus-20px">03</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end slider item -->
              <!-- start slider item -->
              <div class="swiper-slide">
                <div class="row g-0 services-box-style-02 border-radius-6px overflow-hidden hover-box dark-hover">
                  <div class="col-sm-6 position-relative bg-very-light-gray p-10 xxl-p-6 xs-p-10">
                    <div class="services-box-icon mb-65px position-relative z-index-9 lg-mb-30px">
                      <img class="w-75px lg-w-65px" src="https://placehold.co/150x150" alt="" />
                    </div>
                    <div class="services-box-content last-paragraph-no-margin position-relative z-index-9">
                      <span class="d-inline-block alt-font text-dark-gray fs-24 mb-5px">Beauty</span>
                      <p class="text-light-opacity lh-30">
                        Bring brighter and younger looking skin.
                      </p>
                    </div>
                    <div class="box-overlay bg-dark-gray"></div>
                  </div>
                  <div class="col-sm-6 services-box-img overflow-hidden">
                    <div class="h-100 cover-background position-relative xs-h-300px" style="
                        background-image: url(https://placehold.co/580x705);
                      ">
                      <span
                        class="position-absolute left-minus-30px bottom-50px fs-100 lg-fs-80 xs-fs-90 fw-600 text-very-light-gray xl-bottom-25px md-left-minus-20px">01</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end slider item -->
              <!-- start slider item -->
              <div class="swiper-slide">
                <div class="row g-0 services-box-style-02 border-radius-6px overflow-hidden hover-box dark-hover">
                  <div class="col-sm-6 position-relative bg-very-light-gray p-10 xxl-p-6 xs-p-10">
                    <div class="services-box-icon mb-65px position-relative z-index-9 lg-mb-30px">
                      <img class="w-75px lg-w-65px" src="https://placehold.co/150x150" alt="" />
                    </div>
                    <div class="services-box-content last-paragraph-no-margin position-relative z-index-9">
                      <span class="d-inline-block alt-font text-dark-gray fs-24 mb-5px">Therapy</span>
                      <p class="text-light-opacity lh-30">
                        Bring brighter and younger looking skin.
                      </p>
                    </div>
                    <div class="box-overlay bg-dark-gray"></div>
                  </div>
                  <div class="col-sm-6 services-box-img">
                    <div class="h-100 cover-background position-relative xs-h-300px" style="
                        background-image: url(https://placehold.co/580x705);
                      ">
                      <span
                        class="position-absolute left-minus-30px bottom-50px fs-100 lg-fs-80 xs-fs-90 fw-600 text-very-light-gray xl-bottom-25px md-left-minus-20px">02</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end slider item -->
              <!-- start slider item -->
              <div class="swiper-slide">
                <div class="row g-0 services-box-style-02 border-radius-6px overflow-hidden hover-box dark-hover">
                  <div class="col-sm-6 position-relative bg-very-light-gray p-10 xxl-p-6 xs-p-10">
                    <div class="services-box-icon mb-65px position-relative z-index-9 lg-mb-30px">
                      <img class="w-75px lg-w-65px" src="https://placehold.co/150x150" alt="" />
                    </div>
                    <div class="services-box-content last-paragraph-no-margin position-relative z-index-9">
                      <span class="d-inline-block alt-font text-dark-gray fs-24 mb-5px">Massage</span>
                      <p class="text-light-opacity lh-30">
                        Bring brighter and younger looking skin.
                      </p>
                    </div>
                    <div class="box-overlay bg-dark-gray"></div>
                  </div>
                  <div class="col-sm-6 services-box-img">
                    <div class="h-100 cover-background position-relative xs-h-300px" style="
                        background-image: url(https://placehold.co/580x705);
                      ">
                      <span
                        class="position-absolute left-minus-30px bottom-50px fs-100 lg-fs-80 xs-fs-90 fw-600 text-very-light-gray xl-bottom-25px md-left-minus-20px">03</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end slider item -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>