<section class="background-repeat border-top border-color-light-gray position-relative overlap-height z-index-1">
  <div class="container">
    <div class="row mb-5 sm-mb-40px">
      <div class="col-md-6 overflow-hidden"
        data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
        <h1 class="alt-font fw-700 text-dark-gray fancy-text-style-4 ls-minus-2px">
          <span data-fancy-text='{ "effect": "rotate", "string": ["Di hola!", "Say hello!", "Say salve!"] }'></span><i
            class="bi bi-emoji-smile icon-extra-large ms-15px"></i>
        </h1>
      </div>
      <div class="col-md-6 last-paragraph-no-margin">
        <p class="w-85 xl-w-100"
          data-anime='{ "el": "lines", "translateY": [30, 0], "translateX": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
          ¿Listo para crear algo extraordinario juntos? 💻✨<br>
          Si tienes un proyecto en mente, buscas colaboración o simplemente quieres charlar sobre desarrollo web,
          ¡conversemos!<br>
          Estoy siempre abierto a nuevas oportunidades y desafíos que nos permitan transformar ideas en experiencias
          digitales
          memorables. 📩<br>
          ¡Hablemos de cómo puedo aportar valor a tu próximo proyecto!
        </p>
      </div>
    </div>
  </div>
</section>