<section
  class="background-repeat"
  style="background-image: url('images/demo-spa-salon-home-bg-01.jpg')"
>
  <div class="container">
    <div class="row mb-5 sm-mb-40px">
      <div
        class="col-md-6 overflow-hidden"
        data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'
      >
        <h1
          class="alt-font fw-700 text-dark-gray fancy-text-style-4 ls-minus-2px"
        >
          Say
          <span
            data-fancy-text='{ "effect": "rotate", "string": ["hello!", "hallå!", "salve!"] }'
          ></span
          ><i class="bi bi-emoji-smile icon-extra-large ms-15px"></i>
        </h1>
      </div>
      <div class="col-md-6 last-paragraph-no-margin">
        <p
          class="w-85 xl-w-100"
          data-anime='{ "el": "lines", "translateY": [30, 0], "translateX": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'
        >
          Lorem ipsum is simply dummy text the printing and typesetting
          industry. Lorem ipsum has been the standard dummy text ever since the
          when an unknown printer took galley.
        </p>
      </div>
    </div>
    <div
      class="row row-cols-1 row-cols-md-4 row-cols-sm-2 mb-6 xs-mb-40px text-center text-sm-start"
      data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'
    >
      <div class="col last-paragraph-no-margin sm-mb-30px">
        <h2 class="fw-600 ls-minus-3px text-dark-gray m-0">
          9.98<sup
            ><i
              class="bi bi-arrow-up-short icon-medium text-base-color animation-float"
            ></i
          ></sup>
        </h2>
        <p class="text-dark-gray lh-28">Google reviews</p>
      </div>
      <div class="col last-paragraph-no-margin sm-mb-30px">
        <h2 class="fw-600 ls-minus-3px text-dark-gray m-0">
          30k<sup
            ><i
              class="bi bi-arrow-up-short icon-medium text-base-color animation-float"
            ></i
          ></sup>
        </h2>
        <p class="text-dark-gray lh-28">Instagram followers</p>
      </div>
      <div class="col last-paragraph-no-margin xs-mb-30px">
        <h2 class="fw-600 ls-minus-3px text-dark-gray m-0">
          96%<sup
            ><i
              class="bi bi-arrow-up-short icon-medium text-base-color animation-float"
            ></i
          ></sup>
        </h2>
        <p class="text-dark-gray lh-28">Repeat customers</p>
      </div>
      <div class="col last-paragraph-no-margin">
        <h2 class="fw-600 ls-minus-3px text-dark-gray m-0">
          16+<sup
            ><i
              class="bi bi-arrow-up-short icon-medium text-base-color animation-float"
            ></i
          ></sup>
        </h2>
        <p class="text-dark-gray lh-28">Years of experience</p>
      </div>
    </div>
    <div
      class="row align-items-center justify-content-center"
      data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'
    >
      <div class="col-auto text-center md-mb-20px">
        <span class="text-dark-gray fw-400 alt-font fs-24"
          >Enjoy soothing experience with spa massage.</span
        >
      </div>
      <div class="col-auto d-none d-lg-block">
        <span
          class="w-200px lg-w-110px h-1px bg-dark-gray opacity-2 d-flex mx-auto"
        ></span>
      </div>
      <div class="col-auto">
        <a
          href="#appointment"
          class="btn btn-small btn-double-border btn-border-base-color section-link"
        >
          <span>
            <span class="btn-double-text" data-text="Book an appointment"
              >Book an appointment</span
            >
            <span><i class="fa-solid fa-arrow-right"></i></span>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
