/* You can add global styles to this file, and also import other style files */
html.admin-route-active,
body.admin-route-active {
  height: auto !important;
  min-height: 100vh;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  position: static !important;
  top: auto !important;
}

body.admin-route-active section {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
