<section
  class="py-0 border-top border-color-light-gray md-border-top-0 background-repeat"
  style="background-image: url('images/demo-spa-salon-home-bg-01.jpg')"
>
  <div class="container mb-5">
    <div
      class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 g-0"
      data-anime='{ "el": "childs", "translateX": [-30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
    >
      <!-- start process step item -->
      <div
        class="col process-step-style-06 last-paragraph-no-margin hover-box md-mb-50px"
      >
        <div class="process-step-icon-box position-relative top-minus-16px">
          <span
            class="progress-step-separator bg-light-gray w-100 separator-line-1px opacity-1"
          ></span>
          <div
            class="step-box d-flex align-items-center justify-content-center bg-base-color border-radius-100 w-30px h-30px position-relative"
          >
            <span
              class="w-8px h-8px bg-very-light-gray border-radius-100"
            ></span>
          </div>
        </div>
        <h3 class="d-block alt-font text-dark-gray ls-minus-2px fw-600 mb-5px">
          2000
        </h3>
        <p class="w-80 lg-w-90 md-w-75 sm-w-100">
          Lorem ipsum is simply text printing and typesetting.
        </p>
      </div>
      <!-- end process step item -->
      <!-- start process step item -->
      <div
        class="col process-step-style-06 last-paragraph-no-margin hover-box md-mb-50px"
      >
        <div class="process-step-icon-box position-relative top-minus-16px">
          <span
            class="progress-step-separator bg-light-gray w-100 separator-line-1px opacity-1"
          ></span>
          <div
            class="step-box d-flex align-items-center justify-content-center bg-base-color border-radius-100 w-30px h-30px position-relative"
          >
            <span
              class="w-8px h-8px bg-very-light-gray border-radius-100"
            ></span>
          </div>
        </div>
        <h3 class="d-block alt-font text-dark-gray ls-minus-2px fw-600 mb-5px">
          2002
        </h3>
        <p class="w-80 lg-w-90 md-w-75 sm-w-100">
          Lorem ipsum is simply text printing and typesetting.
        </p>
      </div>
      <!-- end process step item -->
      <!-- start process step item -->
      <div
        class="col process-step-style-06 last-paragraph-no-margin hover-box sm-mb-50px"
      >
        <div class="process-step-icon-box position-relative top-minus-16px">
          <span
            class="progress-step-separator bg-light-gray w-100 separator-line-1px opacity-1"
          ></span>
          <div
            class="step-box d-flex align-items-center justify-content-center bg-base-color border-radius-100 w-30px h-30px position-relative"
          >
            <span
              class="w-8px h-8px bg-very-light-gray border-radius-100"
            ></span>
          </div>
        </div>
        <h3 class="d-block alt-font text-dark-gray ls-minus-2px fw-600 mb-5px">
          2010
        </h3>
        <p class="w-80 lg-w-90 md-w-75 sm-w-100">
          Lorem ipsum is simply text printing and typesetting.
        </p>
      </div>
      <!-- end process step item -->
      <!-- start process step item -->
      <div class="col process-step-style-06 last-paragraph-no-margin hover-box">
        <div class="process-step-icon-box position-relative top-minus-16px">
          <span
            class="progress-step-separator bg-light-gray w-100 separator-line-1px opacity-1"
          ></span>
          <div
            class="step-box d-flex align-items-center justify-content-center bg-base-color border-radius-100 w-30px h-30px position-relative"
          >
            <span
              class="w-8px h-8px bg-very-light-gray border-radius-100"
            ></span>
          </div>
        </div>
        <h3 class="d-block alt-font text-dark-gray ls-minus-2px fw-600 mb-5px">
          2020
        </h3>
        <p class="w-80 lg-w-90 md-w-75 sm-w-100">
          Lorem ipsum is simply text printing and typesetting.
        </p>
      </div>
      <!-- end process step item -->
    </div>
  </div>
</section>
